<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sander1.plexagents.moviemeter</string>
	<key>PlexAgentAttributionText</key>
	<string>Dutch movie titles, summaries and genres by &lt;a href=&quot;https://www.moviemeter.nl/&quot;&gt;MovieMeter&lt;/a&gt;&lt;br/&gt;Free for non-commercial use.</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
</dict>
</plist>
